{
  "rules": {
    "import/no-unresolved": [
      {
        "ignore": [
          "^@theme",
          "^@docusaurus",
          "^@generated",
          "unist",
          "mdast"
        ]
      }
    ]
  }
}